.view.finished-output-list {
  padding: 1rem;
  animation: fadeInUp 0.5s ease forwards;
  height: calc(100vh - 225px);
  .output-header {
    @include flex(row, nowrap, space-between, center);
    button {
      @include bg(transparent);
      color: var(--primary-color);
      border: none;
      font-size: 1.33rem;
      cursor: pointer;
      i {
        margin-right: 0.5rem;
      }
    }
  }
  .review-container {
    @include flex(column, nowrap, flex-start, stretch);
    margin-top: 2rem;
    @include bg(var(--panel-bg));
    padding: 2rem;
    @include radius(10px);
    max-height: 100%;
    overflow: hidden;
    .review-header {
      .btn-group {
        @include flex(row, nowrap, center, center);
        button {
          @include simple-size(40px);
          @include radius(50%);
          @include bg(transparent);
          @include center-flex();
          font-size: 1.1rem;
          border: 2px solid var(--review-output-toggle-btn);
          color: var(--review-output-toggle-btn);
          margin: auto 0.25rem;
          cursor: pointer;
          opacity: 0.4;
          transition: color 0.3s ease, border 0.3s ease, opacity 0.3s ease;
          i {
            pointer-events: none;
          }
          &:hover {
            opacity: 0.6;
          }
          &.active {
            @include bg(var(--primary-bg));
            color: var(--td-accent);
            border-color: var(--td-accent);
            opacity: 1;
          }
        }
      }
      p.header-description {
        text-align: center;
        margin-top: 1rem;
        font-size: 0.8rem;
      }
    }
    .review-output {
      margin-top: 1.5rem;
      overflow-y: auto;
      ul {
        opacity: 0;
        margin: 2.5rem;
        animation: fadeInUp 0.5s ease forwards;
        &:nth-child(1) {
          animation-delay: 0.5s;
        }
        &:nth-child(2) {
          animation-delay: 0.75s;
        }
        &:nth-child(3) {
          animation-delay: 1s;
        }
        li {
          @include flex(row, nowrap, flex-start, center);
          margin: 0.25rem auto 0.25rem;
          &.questioned,
          &.incorrect {
            align-items: flex-start;
          }
          i {
            display: inline;
            margin-right: 0.33rem;
            &.fa-check {
              color: $passing-grade-color;
            }
            &.fa-question {
              color: $question-grade-color;
            }
            &.fa-xmark {
              color: $failing-grade-color;
            }
            &.fa-star {
              color: $gold;
              filter: drop-shadow(0 1px 1px var(--td-header-bg));
            }
          }
          p {
            padding: 0.5rem 0 0.5rem 1.5rem;
            font-weight: 300;
          }
          span {
            @include textOverflow(1);
          }
          .icon-container {
            @include flex(row, nowrap, flex-end, center);
            margin-right: 0.5rem;
          }
        }
      }
    }
    .review-footer {
      margin-top: 1.5rem;
      button {
        @include bg(var(--td-accent));
        color: white;
        @include radius(5px);
        font-family: "Gotham Rounded", sans-serif;
        font-size: 0.9rem;
        font-weight: 400;
        cursor: pointer;
        padding: 0.75rem 1rem;
        border: none;
        display: block;
        margin: 0 auto;
        transition: transform 0.3s ease-in-out, background 0.3s ease,
          color 0.3s ease;
        &:hover {
          transform: scale(1.05);
        }
        &.self-destruct {
          pointer-events: none;
          @include bg(transparent);
          animation: totalDestructionHomie 6s ease-in-out forwards !important;
        }
      }
    }
  }
}

@keyframes totalDestructionHomie {
  0% {
    transform: scale(1);
  }
  99% {
    @include bg(rgb(255, 72, 72));
    @include bg(var(--td-accent));
    transform: scale(2);
  }
  100% {
    @include bg(transparent);
  }
}
