.view.finished-output-list {
  padding: 1rem;
  animation: fadeInUp 0.5s ease forwards;
  height: calc(100vh - 225px);
  .output-header {
    @include flex(row, nowrap, space-between, center);
    button {
      @include bg(transparent);
      color: var(--primary-color);
      border: none;
      font-size: 1.33rem;
      cursor: pointer;
      i {
        margin-right: 0.5rem;
      }
    }
  }
  .review-container {
    @include flex(column, nowrap, flex-start, stretch);
    margin-top: 2rem;
    @include bg(var(--panel-bg));
    padding: 2rem;
    @include radius(10px);
    max-height: 100%;
    overflow: hidden;
    .review-header {
      .btn-group {
        @include flex(row, nowrap, center, center);
        button {
          @include simple-size(40px);
          @include radius(50%);
          @include bg(transparent);
          @include center-flex();
          font-size: 1.1rem;
          border: 2px solid var(--review-output-toggle-btn);
          color: var(--review-output-toggle-btn);
          margin: auto 0.25rem;
          cursor: pointer;
          opacity: 0.4;
          transition: color 0.3s ease, border 0.3s ease, opacity 0.3s ease;
          &:hover {
            opacity: 0.6;
          }
          &.active {
            color: var(--td-accent);
            border-color: var(--td-accent);
            opacity: 1;
          }
        }
      }
      p.header-description {
        text-align: center;
        margin-top: 1rem;
        font-size: 0.8rem;
      }
    }
    .review-output {
      margin-top: 1.5rem;
      overflow-y: auto;
      ul {
        margin: 2.5rem;
        li {
          margin: 0.25rem auto;
          i {
            margin-right: 0.33rem;
            &.fa-check {
              color: $passing-grade-color;
            }
            &.fa-question {
              color: $question-grade-color;
            }
            &.fa-xmark {
              color: $failing-grade-color;
            }
          }
        }
      }
    }
    .review-footer {
      margin-top: 1.5rem;
      button {
        @include bg(var(--td-accent));
        color: white;
        @include radius(5px);
        font-family: "Gotham Rounded", sans-serif;
        font-size: 0.9rem;
        font-weight: 400;
        cursor: pointer;
        padding: 0.75rem 1rem;
        border: none;
        transition: transform 0.3s ease-in-out, background 0.3s ease,
          color 0.3s ease;
        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }
}
