.view-container {
  .view-parent-item {
    @include wrapper(1200px);
  }
  .views {
    @include loader(1vmin, 1rem);
    height: 100%;
    max-height: calc(100vh - 100px);
    overflow-y: auto;
    .loader-container {
      @include bg(#1a1c29);
      @include radius(1rem);
      @include absolute-center;
      @include center-flex();
      @include size(100px, 200px);
      position: fixed !important;
      box-shadow: 0 4px 4px rgba(black, 0.15);
      padding: 2rem;
      display: none;
      z-index: 100;
      .loader {
        color: rgb(200, 204, 226);
      }
    }
    .view {
      display: none;
    }
  }
}
