.middle {
    @include bg(var(--middle-bg));
    @include flex(column, nowrap, flex-start, stretch);
    max-height: 100vh;
    overflow-y: auto;
    .view-header {
        height: $view-header-height;
        padding: 1rem 2rem;
        h1 {
            @include text-overflow(1);
            color: var(--left-panel-header-bg);
            font-size: 2rem;
        }
        .progress-bar {
            @include radius(25px);
            @include bg(var(--progress-bar-bg));
            @include size(10px, 100%);
            @include flex(row, nowrap, flex-start, flex-start);
            overflow: hidden;
            margin: 1rem 0;
            .progress {
                @include bg(var(--accent));
                @include size(100%, var(--progress));
                @include radius(25px);
                transition: width 1s ease;
            }
        }
    }
    .view {
        @include flex(column, nowrap, flex-start, stretch);
        min-height: calc(100vh - 100px);
        max-height: calc(100vh - 100px);
        padding: 1rem 2rem;
        display: none;
        overflow-x: auto;
        &.show {
            display: flex;
        }
    }
    .requirement-container {
        li.requirement {
            @include bg(var(--middle-requirement-bg));
            @include radius(.5rem);
            margin-bottom: 1.5rem;
            padding: 1rem 1.5rem 1.5rem;
            &:last-child {
                margin-bottom: 0;
            }
            .requirement-header {
                @include flex(row, nowrap, space-between, flex-start);
                margin-bottom: 1rem;
                p.requirement-title {
                    font-weight: 500;
                    font-size: 1.15rem;
                    margin-right: 1rem;
                }
                .button-group {
                    @include flex(row, nowrap, center, center);
                    button {
                        @include bg(transparent);
                        cursor: pointer;
                        font-size: 1rem;
                        padding: .25rem .5rem;
                        border: none;
                        margin-right: .5rem;
                        transition: color .3s ease, background .3s ease;
                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }
            li.requirement-grade {
                @include bg(var(--middle-bg));
                @include radius(.5rem);
                cursor: pointer;
                padding: 1rem;
                margin-bottom: 1rem;
                &:last-child {
                    margin-bottom: 0;
                }
                .icon-and-grade {
                    @include flex(row, nowrap, flex-start, center);
                    margin-bottom: .75rem;
                    font-weight: 500;
                    i {
                        @include same-size(30px);
                        @include center-flex;
                        @include bg(var(--panel-bg));
                        @include radius(50%);
                        transition: transform .3s ease-in-out, color .3s ease, background .3s ease-in-out;
                        margin-right: 1rem;
                    }
                }
                &:hover {
                    .icon-and-grade {
                        i {
                            color: white;
                            transform: scale(1.15);
                        }
                        &.needs-work i {
                            @include bg($needs-work);
                        }
                        &.meets-exp i {
                            @include bg($meets);
                        }
                        &.exceeds-exp i {
                            @include bg($exceeds);
                        }
                    }
                }
                &.disabled {
                    opacity: 0.3;
                    &:hover {
                        .icon-and-grade i {
                            @include bg(var(--panel-bg));
                            color: var(--copy-dark);
                        }
                    }
                }
            }
        }
    }
}