.middle {
    @include bg(var(--middle-bg));
    @include flex(column, nowrap, flex-start, stretch);
    max-height: 100vh;
    overflow-y: auto;
    .view-header {
        height: $view-header-height;
        padding: 1rem 2rem;
        h1 {
            @include text-overflow(1);
            color: var(--left-panel-header-bg);
            font-size: 2rem;
        }
        .progress-bar {
            @include radius(25px);
            @include bg(var(--progress-bar-bg));
            @include size(10px, 100%);
            @include flex(row, nowrap, flex-start, flex-start);
            overflow: hidden;
            margin: 1rem 0;
            .progress {
                @include bg(var(--accent));
                @include size(100%, var(--progress));
                @include radius(25px);
                transition: width 1s ease;
            }
        }
    }
    .view {
        @include flex(column, nowrap, flex-start, stretch);
        min-height: calc(100vh - 100px);
        max-height: calc(100vh - 100px);
        padding: 1rem 2rem;
        display: none;
        overflow-x: auto;
        &.show {
            display: flex;
        }
    }
    .intro-container {
        @include wrapper(900px);
        i {
            color: var(--gold);
        }
    }
    .requirement-container {
        li.parent-requirement {
            @include bg(var(--panel-bg));
            @include radius(1rem);
            padding: 2rem;
            p.parent-title {
                font-size: 1.15rem;
                font-weight: 500;
                margin-bottom: 1rem;
            }
            li.sub-requirement {
                @include bg(var(--middle-bg));
                @include radius(.5rem);
                position: relative;
                border: 2px solid transparent;
                box-shadow: 0 3px 0 var(--requirement-item-shadow);
                padding: 1rem;
                margin-bottom: .75rem;
                &:last-child {
                    margin-bottom: 0;
                }
                .title-group {
                    @include flex(row, nowrap, flex-start, flex-start);
                    margin-bottom: 1rem;
                    i {
                        @include absolute-center;
                        @include radius(50%);
                        @include bg(var(--middle-bg));
                        @include same-size(40px);
                        @include center-flex;
                        top: 0px;
                        left: 25px;
                        border: 5px solid var(--panel-bg);
                        display: none;
                        margin-right: 1rem;
                        color: var(--gold);
                        font-size: 1.15rem;
                    }
                }
                .button-group {
                    @include flex(row, nowrap, flex-start, center);
                    gap: 1rem .5rem;
                    i {
                        @include same-size(35px);
                        @include center-flex;
                        @include radius(50%);
                        @include bg(var(--panel-bg));
                        cursor: pointer;
                        transition: background .2s ease, color .2s ease, opacity .2s ease;
                        &.exceeds-icon {
                            display: none;
                        }
                        &.fa-rotate-right {
                            opacity: 0;
                            pointer-events: none;
                        }
                        &:hover {
                            color: white;
                            &.needs-work-icon {
                                @include bg($needs-work);
                            }
                            &.meets-icon {
                                @include bg($meets);
                            }
                            &.exceeds-icon {
                                @include bg($exceeds);
                            }
                            &.fa-rotate-right {
                                @include bg(var(--redo-icon-bg-hover));
                            }
                        }
                    }
                }
                &.exceeds-requirement {
                    margin-top: 2rem;
                    .title-group {
                        margin-top: 1rem;
                    }
                    i {
                        display: flex;
                    }
                    .button-group {
                        i.meets-icon {
                            display: none;
                        }
                        i.exceeds-icon {
                            display: flex;
                        }
                    }
                }
                &.graded {
                    @include bg(var(--graded-item-bg));
                    box-shadow: 0 0 0 rgba(black, 0);
                    .button-group {
                        i.needs-work-icon,
                        i.meets-icon,
                        i.exceeds-icon {
                            display: none;
                        }
                        i.fa-rotate-right {
                            opacity: 1;
                            pointer-events: auto;
                        }
                    }
                    &.passing {
                        i.meets-icon {
                            @include bg($meets);
                            display: flex;
                            color: white;
                        }
                    }
                    &.needs-work {
                        i.needs-work-icon {
                            @include bg($needs-work);
                            color: white;
                            display: flex;
                        }
                    }
                    &.exceeds-requirement {
                        i.meets-icon {
                            display: none;
                        }
                        i.exceeds-icon {
                            @include bg($exceeds);
                            display: flex;
                            color: white;
                        }
                    }
                }
                &.graded.exceeds-requirement {
                    @include bg(var(--graded-item-bg));
                    .button-group {
                        i.needs-work-icon,
                        i.meets-icon,
                        i.exceeds-icon {
                            display: none;
                        }
                        i.fa-rotate-right {
                            opacity: 1;
                            pointer-events: auto;
                        }
                    }
                    &.passing {
                        i.exceeds-icon {
                            @include bg($meets);
                            display: flex;
                            color: white;
                        }
                    }
                    &.needs-work {
                        i.needs-work-icon {
                            @include bg($needs-work);
                            color: white;
                            display: flex;
                        }
                    }
                }
            }
        }
    }
}