$breakpoints: (
  // smalls
  "small": 320px,
  "mobile": 320px,
  //   mediums
  "smedium": 500px,
  "medium": 768px,
  "tablet": 768px,
  //   larges
  "large": 1024px,
  "desktop": 1024px,
  //   extra larges
  "xlarge": 1200px,
  "xxlarge": 1440px,
  "widescreen": 1440px
) !default;

$techdegree-panel-width: 325px;
$view-container-width: 100%;
$utility-panel-width: 50px;
$off-screen-panel-width: 350px;

// td colors
$fewd: #5fcf80;
$fsjs: #3289f5;
$wd: #00ab9e;
$python: #009ac4;
$dataanalysis: #d5609a;
$ux: #9080ff;

$gold: gold;
$failing-grade-color: #ef8985;
$passing-grade-color: #7eda98;
$question-grade-color: rgb(191, 200, 214);

body {
  // globals (dont change)
  --td-header-color: white;
  --td-accent: #5fcf80;
  --req-progress: 0%;

  --close-btn-hover: rgba(0, 0, 0, 0.102);

  --primary-color: rgb(74, 83, 98);
  --primary-bg: #f4f6f8;

  --divider-color: #f4f6f8;

  --panel-bg: #e7eaee;
  --view-container-bg: white;
  --view-container-bg: var(--primary-bg);

  --td-header-bg: #363644;
  --td-header-bg-hover: #444453;

  // --card-item-bg: white;
  --card-item-boxshadow-color: #91a2a835;

  --off-screen-border-color: rgb(222, 226, 235);

  --view-header-progress-bg: var(--panel-bg);

  --req-number: rgb(74, 83, 98);
  --textarea-bg: var(--panel-bg);
  --sub-req-bg: var(--primary-bg);
  --req-btn-bg: var(--panel-bg);
  --req-item-shadow: #91a2a835;
  --req-btn-color: #191b28;
  --req-btn-hover-bg: rgb(218, 226, 228);

  --req-footer-btn-primary-bg: var(--td-accent);
  --req-footer-btn-primary-color: white;

  --req-footer-btn-secondary-bg: #393b5550;
  --req-footer-btn-secondary-color: white;

  --review-output-toggle-btn: #373d55;

  &.dark {
    --close-btn-hover: rgba(255, 255, 255, 0.163);

    --primary-color: rgb(200, 204, 226);
    --primary-bg: #2c3147;
    --primary-bg: #32374d;

    --divider-color: #2b2d40;

    --panel-bg: #202231;
    --panel-bg: #232535;
    --view-container-bg: #2b2d40;
    --view-container-bg: var(--primary-bg);

    --td-header-bg: #1a1c29;
    --td-header-bg-hover: #1a1c29;

    --card-item-bg: #202231;
    --card-item-boxshadow-color: #0000006f;

    --off-screen-border-color: #0000006f;

    --view-header-progress-bg: var(--panel-bg);

    --req-number: rgb(191, 200, 214);
    --textarea-bg: var(--panel-bg);
    --sub-req-bg: var(--primary-bg);
    --req-btn-bg: var(--panel-bg);
    --req-btn-color: white;
    --req-item-shadow: #191b28;
    --req-btn-hover-bg: #3e4258;

    --req-footer-btn-primary-bg: var(--td-accent);
    --req-footer-btn-primary-color: #393b55;

    --req-footer-btn-secondary-bg: rgba(255, 255, 255, 0.101);
    --req-footer-btn-secondary-color: white;

    --review-output-toggle-btn: rgb(200, 204, 226);
  }
}
