.admin-container {
  form,
  fieldset {
    border: none;
  }

  fieldset {
    @include flex(column, nowrap, flex-start, flex-start);
    margin-bottom: 1rem;
    label {
      margin-bottom: 0.33rem;
    }
    input {
      @include bg(var(--primary-bg));
      @include radius(5px);
      font-family: "Gotham Rounded", sans-serif;
      width: 100%;
      border: 2px solid var(--panel-bg);
      padding: 1rem 0.5rem;
      &:focus {
        outline: 2px solid var(--td-accent);
      }
    }
  }

  button {
    @include bg(var(--td-accent));
    padding: 1rem;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: center;
    color: white;
    font-family: "Gotham Rounded", sans-serif;
  }
}
