.project-notes-container {
  details {
    @include bg(var(--primary-bg));
    @include radius(5px);
    padding: 1rem;
    summary {
      cursor: pointer;
    }
    span {
      font-weight: 300;
      font-size: 0.9rem;
    }
  }
  button.init-new-note {
    @include theme-transition;
    @include bg(var(--td-accent));
    @include radius(5px);
    cursor: pointer;
    padding: 1rem;
    width: 100%;
    color: white;
    border: none;
    text-align: center;
    margin: 1rem auto;
  }

  form.new-note-form {
    display: none;
    opacity: 0;
    margin: 2rem 0;
    &.show {
      display: block;
      animation: fadeInRight 0.5s ease-in-out forwards;
    }
    legend {
      margin-bottom: 1rem;
      text-align: center;
    }
    label {
      margin-bottom: 0.5rem;
      display: block;
      font-size: 0.9rem;
      span {
        color: $failing-grade-color;
        font-size: 0.8rem;
      }
    }
    input {
      @include bg(var(--primary-bg));
      @include radius(5px);
      border: none;
      padding: 0.5rem 1rem;
      width: 100%;
      margin-bottom: 0.5rem;

      &:focus {
        outline: 2px solid var(--td-accent);
      }
      &::placeholder {
        color: var(--primary-color);
      }
      &:first-child {
        margin-bottom: 0.25rem;
      }
    }
    textarea {
      @include bg(var(--primary-bg));
      @include radius(5px);
      color: var(--primary-color);
      padding: 0.5rem;
      border: none;
      width: 100%;
      height: 125px;
      margin-bottom: 0.5rem;
    }
    .btn-group {
      @include flex(row, nowrap, center, center);
      button {
        padding: 0.5rem 1rem;
        &:first-child {
          margin-right: 0.25rem;
        }
        &:last-child {
          @include bg(var(--primary-bg));
          color: var(--primary-color);
        }
      }
    }
  }

  p.note-header {
    text-align: center;
    padding: 1rem;
    border-bottom: 3px solid var(--primary-bg);
    margin-bottom: 1rem;
  }
  ul.notes {
    li {
      position: relative;
      margin: 1.25rem auto;
      i.fa-xmark {
        @include radius(50%);
        @include bg(var(--primary-bg));
        @include center-flex;
        @include absolute-center;
        @include simple-size(25px);
        opacity: 0;
        font-size: 0.8rem;
        top: -0.75rem;
        left: 95%;
        cursor: pointer;
        transition: color 0.3s ease, background 0.3s ease, opacity 0.3s ease;
        &:hover {
          @include bg(var(--td-accent));
          color: white;
        }
      }
      p {
        &.note-title {
          margin-bottom: 1rem;
          margin-top: 2rem;
        }
        &.note {
          position: relative;
          padding: 0.75rem 0 0.75rem 1rem;
          font-size: 0.9rem;
          margin: 1rem 0;
          font-weight: 300;
          &::before {
            content: "";
            @include size(100%, 3px);
            @include radius(25px);
            @include bg(var(--td-accent));
            position: absolute;
            left: 0;
            top: 0;
          }
        }
        &.note-info {
          font-size: 0.9rem;
          font-weight: 300;
        }
      }
      &:hover {
        i.fa-xmark {
          opacity: 1;
        }
      }
    }
  }
}
