.theme-container {
    ul {
        @include flex(column, norwap, flex-start, center);
        li {
            @include radius(1rem);
            cursor: pointer;
            margin: 1rem auto;
            transition: transform .3s ease;
            @include center-flex;
            &:first-child {
                pointer-events: none;
                margin-top: 0;
            }
            img {
                max-width: 75%;
            }
            &:hover {
                transform: scale(1.1);
            }
        }
    }
}