section.utility-panel {
    ul {
        @include flex(column, nowrap, flex-start, center);
        margin-top: .5rem;
        li {
            @include center-flex;
            @include size(40px, 100%);
            cursor: pointer;
            width: 100%;
            transition: background .3s ease;
            &:hover {
                @include bg(var(--close-btn-hover));
            }
            &.active {
                @include bg(var(--close-btn-hover));
            }
        }
    }
}