section.techdegree-panel .techdegree-dropdown {
  @include bg(var(--td-header-bg));
  @include loader(1vmin, 0.8rem);
  @include theme-transition;
  position: relative;
  overflow: hidden;
  padding: 1rem;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  min-height: 125px;
  display: none;
  .loader {
    color: white;
  }
  li {
    @include flex(row, nowrap, space-between, center);
    padding: 0.33rem;
    border-radius: 0.33rem;
    cursor: pointer;
    color: white;
    transition: background 0.3s ease;
    span {
      @include textOverflow(1);
      pointer-events: none;
      transition: margin 0.3s ease;
    }
    &:hover {
      @include bg(rgba(white, 0.1));
      span {
        margin-left: 1rem;
      }
    }
    i {
      color: $gold;
      opacity: 0.2;
      transition: opacity 0.3s;
      display: none;
      &:hover {
        opacity: 1;
      }
    }
    &.fav {
      i {
        opacity: 1;
      }
    }
  }
}
