.panel-toggle-view {
  @include bg(var(--td-header-bg));
  @include flex(row, nowrap, center, flex-start);
  @include size(100%, 50px);
  @include strict-width(50px);
  animation: fadeInLeft 0.4s ease forwards;
  display: none;
  &.active {
    display: flex;
  }
  img {
    margin-top: 1rem;
    cursor: pointer;
    width: 22px;
  }
}

.techdegree-panel {
  width: 0;
  min-width: 0;

  header {
    @include theme-transition;
    @include bg(var(--td-header-bg));
    @include flex(row, nowrap, flex-start, center);
    position: relative;
    z-index: 100;
    color: var(--td-header-color);
    padding: 0.5rem 1rem;
    img.logo {
      max-width: 40px;
      margin-right: 1rem;
      filter: brightness(100);
    }
    p {
      margin: auto auto auto 0.25rem;
      font-size: 0.9rem;
    }
  }

  img.panel-toggle {
    width: 22px;
    cursor: pointer;
  }

  .toggle-item {
    display: none !important;
    &.active {
      display: block !important;
    }
    &.flex.active {
      display: flex !important;
    }
  }

  &.active {
    @include strict-width($techdegree-panel-width);
  }
}
