ul.td-project-list {
  padding: 1rem;
  li {
    @include flex(row, nowrap, flex-start, center);
    padding: 0.25rem 0.33rem;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
    animation: fadeIn 1s ease forwards;
    span {
      transition: margin 0.3s ease-in-out;
      pointer-events: none;
      &:nth-child(1) {
        color: var(--td-accent);
      }
      &:nth-child(2) {
        @include textOverflow(1);
      }
    }
    &.inactive {
      opacity: 0.2 !important;
    }
    &:hover {
      opacity: 1 !important;
      span {
        margin-left: 0.75rem;
      }
    }
    &.active {
      opacity: 1 !important;
    }
    &.error {
      animation: none;
      opacity: 0;
      pointer-events: none;
      animation: errorHandleMessage 0.4s ease forwards;
    }
  }
}

@keyframes errorHandleMessage {
  0% {
    opacity: 0;
    margin-top: 1rem;
  }
  100% {
    opacity: 0.5;
    margin-top: 0;
  }
}
