.no-fly-zone {
    @include bg(var(--card-item-bg));
    @include radius(1rem);
    @include wrapper(500px);
    @include boxshadow( var(--card-item-boxshadow-color) );
    position: relative;
    max-width: 90%;
    color: var(--card-item-copy);
    padding: 2rem;
    @include theme-transition;
    header {
        @include flex(row, wrap, flex-start, center);
        i {
            color: $fewd;
            font-size: 3rem;
            margin-right: 1.6rem;
            animation: tada 1.5s ease-in-out infinite;
        }
    }
}