* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
    margin: 0;
}

::-webkit-scrollbar {
    width: 0px;
}
::-webkit-scrollbar-track {
    @include bg(transparent);
}
::-webkit-scrollbar-thumb {
    @include bg(transparent);
}

body {
    @include center-flex;
    @include bg(var(--primary-bg));
    min-height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    font-family: "Quicksand", sans-serif;
    @include theme-transition;
    color: var(--primary-color);
    margin: 0;
    .desktop {
        display: none;
    }
    @include break(medium) {
        @include flex(row, nowrap, flex-start, stretch);
        .mobile {
            display: none;
        }
        .desktop {
            display: flex;
        }
    }
}