.b100 {
  font-weight: 100;
}
.b200 {
  font-weight: 200;
}
.b300 {
  font-weight: 300;
}
.b500 {
  font-weight: 500;
}
.b600 {
  font-weight: 600;
}
.b700 {
  font-weight: 700;
}
.b800 {
  font-weight: 900;
}
.b900 {
  font-weight: 900;
}
.italic {
  font-style: italic;
}